autopep8
cachetools
certifi
chardet
google-auth
google-auth-oauthlib
gspread
gspread-dataframe
httplib2
idna
isort
mccabe
numpy
Naked
oauth2client
oauthlib
pandas==1.2.5
Pillow
pyasn1
pyasn1-modules
pycodestyle
pyparsing
pytexit
python-dateutil
pytz
requests
requests-oauthlib
rsa
shortuuid
six
urllib3
wincertstore
wrapt
python-dotenv
openpyxl
